#top-bar {
position: fixed;
top: 0;
width: 100%;
background-color: white;
box-shadow: 0 1px 4px rgba(231, 231, 231, 1);
padding: 1rem;
z-index: 50;
display: flex;
justify-content: space-between;
align-items: center;
justify-content: center;
}

#top-bar button {
background-color: #facc15;
color: black;
border: none;
border-radius: 0.375rem;
padding: 0.5rem 1rem;
cursor: pointer;
transition: background-color 0.3s;
}

#top-bar button:hover {
background-color: #1e40af;
color: white;
cursor: pointer;
}

.auth-buttons button {
margin-right: 0.5rem;
}
  